<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83923483975-kn7r6ir3melpvrtr5odoiu9fqqjl7ih9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83923483975-kn7r6ir3melpvrtr5odoiu9fqqjl7ih9</string>
	<key>API_KEY</key>
	<string>AIzaSyCtlp1vba2rGPxRvZGfFrTtnf_pPPIM9yU</string>
	<key>GCM_SENDER_ID</key>
	<string>83923483975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoapp.todoapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todoapp-e00bd</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-e00bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83923483975:ios:9f3fe7d5728e3b01d2a062</string>
</dict>
</plist>